# Decision Tree
Using **Loan Acceptance** Data.

In [3]:
from sklearn import tree
from sklearn import metrics
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

### Reading FIle

In [5]:
# File location and name
file_loc = os.path.join('..', '..', 'data')  # Go up 2 levels and into 'data'
file_name = 'loanacceptance.csv'

# Combine into full path
file_path = os.path.join(file_loc, file_name)

df = pd.read_csv(file_path)
df

,Customer ID,Marital Status,Kids,Annual Household Salary,Loan Amount,Car owner,Education Level,Loan Granted
0,1,0,0,106020,185913,1,0,0
1,2,0,2,1270279,4907598,1,0,0
2,3,1,3,1086365,3012855,1,0,1
3,4,1,2,516564,2493950,1,0,0
4,5,0,2,1291768,4870552,1,5,1
...,...,...,...,...,...,...,...,...
495,496,0,1,1320750,3925211,1,1,1
496,497,1,0,552726,921866,0,0,0
497,498,1,1,1410878,5826908,1,4,1
498,499,1,0,752530,2662067,0,1,1
499,500,0,1,1153052,2660286,0,5,1